* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.btn:hover {
  color: white;
}
.container-fluid img {
  width: 75px;
}

.color-boton{
  background-color: #141619f0;
  color: darkgoldenrod;
}

.color-boton:hover {
  color: white;
  background-color: goldenrod;
  border-color: goldenrod;
}

.row{
  justify-content: center;
}
/* FOOTER */
.fa-instagram:hover{
color: rgba(202, 20, 156, 0.938);
}

.fa-facebook-f:hover{
color: rgba(9, 9, 247, 0.897);
}

.fa-whatsapp:hover{
  color: darkgreen;
}
/*  */
